{%extends 'all-neighbor/base.html'%}
{%load bootstrap3%}
{%load static%}
{%block content%}

 
<div class="container-fluid">
    
    <h1 class="text-center">My Estate:{{houses.location}}</h1>
    <div class="row">
      <div class="card mb-3" style="max-width: 100%;">
        <div class="row g-0">
          <div class="col-md-3">
            <img src="{{houses.logo.url}}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-3">
            <div class="card-body">
              <h5 class="card-title">{{houses.location}}</h5>
              <p class="card-text"><small class="text-muted">{{houses.name}}</small></p>
              <a href="#" class="btn btn-danger">LEAVE HOOD</a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card-body">
              <h5 class="card-title">Health Center:{{houses.health_number}}</h5>
              <h5 class="card-title">Police Center:{{houses.police_number}}</h5>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card-body">
              <p class="card-text">{{houses.description}}</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
</div>

<a href="{%url 'new_post' houses.id %}?next={{ request.path}}" class="btn btn-primary" style="margin-left: 150px;">ADD POST</a>
<div class="container">
  <div class="row">
    {%if houses.hood.all%}
    {%for post in houses.hood.all%}
    <div class="card">
      <h5 class="card-header" style="text-align: center; background-color: aqua;">POST</h5>
      <div class="card-body">
        <h5 class="card-title">{{post.title|title}}</h5>
        <p class="card-text">{{post.post}}</p>
      </div>
    </div>    
    {%endfor%}
    {%endif%}
  </div>
</div>

<hr>

<br><br><br>
<a href="{% url 'new_business' houses.id %}?next={{ request.path}}" class="btn btn-primary" style="margin-left:150px;">ADD BUSINESS</a>
<div class="container">
  <div class="row">
    {%for business in businesses%}
    <div class="card">
      <div class="card-header" style="text-align: center; background-color: aqua;">
        BUSINESSES
      </div>
      <div class="card-body">
        <p>Add Your Business Here</p>
        <div class="col-md-3">
          <img src="{{business.business_photo.url}}" alt="" height="200" width="200">
        </div>
        <div class="col-md-3">
          <h5 class="card-title">{{business.business_name}}</h5>
          <p class="card-text"><small class="text-muted">{{business.email}}</small></p>
        </div>
        <div class="col-md-3">
          <p class="card-text">{{business.description}}</p>
        </div>
      </div>
    </div>
    {%endfor%}
  </div>
</div>

{%endblock%}