{%extends 'all-neighbor/base.html'%}
{%load bootstrap3%}
{%load static%}
{%block content%}
<br><br>
<a href="{%url 'newhood' %}" class="btn btn-success" style="margin-left: 150px;">ADD HOOD</a>
{% for hood in hoods %}
<div class="container">
    <div class="row">
        <div class="card mb-3" style="max-width: 100%;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{{hood.logo.url}}" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{hood.location}}</h5>
                  <p class="card-text">{{hood.description}}</p>
                  <p class="card-text"><small class="text-muted"></small></p>
                  <a href="/my_estate/{{hood.id}}" class="btn btn-outline-warning font-weight-bold btn-sm mb-2">JOIN HOOD</a> 
                </div>
              </div>
            </div>
          </div>
    </div>
</div>

{%endfor%}

{%endblock%}