{% extends 'all-neighbor/base.html'%}
{% load static %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{%block content%}
<div class="container-fluid" style="background-image: url(../../static/ss.jpeg); height: 50rem; background-repeat: repeat-x; width: 100%;">
    <br><br><br><br><br><br>
    <p style="font-family: Bungee Shade; font-size: 50px; color: yellow; text-align: center;"><strong>WELCOME</strong></p>
<p style="font-family: Bungee Shade; font-size: 50px; color: yellow; text-align: center;"><strong>THE NEIGHBOURHOOD</strong></p>
</div>

<div class="container" style="background-color: silver;">
    <div class="row">
        <h3 style="text-align: center;">ABOUT US</h3>
        <p style="text-align: center;">Welcome to The Neighbourhood App. <br>
            An App Build to break lack of connectivity between people living in the same Neighbourhood <br>
            and bring tranquilty.People are able to know whats around them such as businesses and <br>
            raise issues affecting the Area.

        </p>
    </div>
</div>

<div class="container mt-5 mb-3">
    <div class="row">
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7977.682238016946!2d36.80565132394554!3d-1.2681246963002384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f173c0a1f9de7%3A0xad2c84df1f7f2ec8!2sWestlands%2C%20Nairobi!5e0!3m2!1sen!2ske!4v1642633977452!5m2!1sen!2ske"width="600" height="450" style="border: 0;" allowfullscreen="" loading="lazy"></iframe>

    </div>
</div>

{% endblock%}