{%extends 'all-neighbor/base.html'%}
{%load bootstrap3%}
{%load static%}
{%block content%}

<div class="container-fluid">
    {% for hood in houses%}
    <h1 class="text-center">My Estate:{{hood.location}}</h1>
    <div class="row">
        <div class="card mb-3">
            <img src="{{hood.logo.url}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{hood.name}}</h5>
              <p class="card-text">{{hood.description}}</p>
              <p class="card-text"><small class="text-muted"></small></p>
            </div>
          </div>
         
    </div>
    {%endfor%}

</div>

{%endblock%}