{%extends 'all-neighbor/base.html'%}
{%load bootstrap3%}
{%load crispy_forms_tags%}
{%block content%}

<div class="container">
    <div class="row">
        <div class="modal fade bd-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md ">
                <div class="modal-content">
                    <form action="" method="post" enctype="multipart/form-data" class="mr-4 mt-4 ml-4 mb-4">
                        {% csrf_token%}
                        {{ profile_form|crispy}}
                        <a href="/profiles/" class="btn btn-outline-warning font-weight-bold btn-sm mb-2">EDIT PROFILE</a> 
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

{%endblock%}