{%extends 'all-neighbor/base.html'%}
{% load bootstrap3%}
{% load crispy_forms_tags %}
{% block content%}

<div class="container">
    <div class="row">
        {%if hoods%}
        {% for hood in hoods %}
        <div class="col-md-4 mt-4">
            <div class="card">
                <img class="card-img-top" src="{{hood.logo.url}}" alt="" height="250">
                <div class="card-body pt-5">
                    <h5>{{hood.name|title}}</h5>
                </div>
            </div>
        </div>
        {%endfor%}
        {%else%}
        <div class="col-md-12 text-center">
            <h3>Estate Not Found</h3>
        </div>
        {%endif%}
    </div>
</div>
{%endblock%}

